.home {
  padding: 36px;
  min-height: 100%;
  background-color: #FAFAFA;
}
.homeMobile {
  padding: 12px;
  min-height: 100%;
  background-color: #FAFAFA;
}
.ant-card-meta-avatar > img {
  height: 50px;
  width: 50px;
}
